.item{
   display: flex;
   flex-direction: column;

   width: 350px;
   height: 320px;

   background-color: #fff;
   border-radius: 10px;

   margin: 20px;
  }
  
 .content{
  padding: 5px 20px 0 20px;
 }

 