.header{
    display: flex;
    align-items: center;

    height: 100px;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo span{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.logo img{
    width: 40px;
    margin-right: 15px;
}